.myNav{
    height: auto;
    background-color: transparent;
    padding: 15px 0;
    transition:  var(--transition);
    height: 85px;
}
.navbar, .navbar.sticky {
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.myNav.sticky {
    width: 100%;
    background-color: var(--whiteColor);
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, .1);
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}
.navbar .navbar-nav .nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .navbar-nav .nav-item .nav-link{
    position: relative;
    color:var( --blackColor);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    transition: var(--transition);
}
.navbar .navbar-nav .nav-item .dropdown-item{
    transition: var(--transition);
}
.navbar .navbar-nav .nav-item:first-child{
    margin-left: 0;
}
.navbar .navbar-nav .nav-item:last-child{
    margin-right: 0;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color:var(--themeColor);
}
.navbar .navbar-nav .nav-item .dropdown-menu {
 
    left: 0;
    top: 50px;
    opacity: 0;
    z-index: 99;
    border: none;
    width: 250px;
    margin-top: 0;
    display: block;
    padding: 12px 0;
    border-radius: 10px;
    border-left: 1px solid var(--themeColor);
    position: absolute;
    visibility: hidden;
    background: var(--whiteColor);
    transition: all .2s ease-in-out;
    transform: translate3d(0, 18px, 0);
    box-shadow: 0 7px 36px -8px rgba(4, 4, 5, .2);
    

}
.navbar .navbar-nav .nav-item:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
    transform: translateZ(0);
}

.navbar .navbar-nav .nav-item .dropdown-toggle:after{
    margin-left: 0;
    vertical-align: 0;
    border: none;
}
.navbar .navbar-nav .nav-item .dropdown-toggle:before {
    position: absolute;
    content: "\ea4e";
    line-height: 1;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    font-family: remixicon;
    font-size: 15px;
}
.navbar .navbar-nav .nav-item .dropdown-item:focus, .dropdown-item:hover{
    color:var(--themeColor);
    background: transparent;
}
.navbar .navbar-nav .nav-item .dropdown-toggle{
    padding-right: 12px;
}

.slick-prev, .slick-next{
    color:var(--textColor)!important;
    opacity: 0.7!important;
    width: 30px!important;
    height: 30px!important;
}
.slick-slide>div{
    margin:0 10px;
}
.slick-next {
    right: -30px!important;
}
.slick-prev {
    left: -30px!important;
}
.searchIcon{
    font-size: 22px;
    color: var(--themeColor);
    transition: var(--transition);
    cursor: pointer;
}