@media(max-width:991px) {

    .navbar-toggler,
    .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
        border: none
    }

    .navbar>.container {
        display: flex;
        justify-content: space-between;
    }

}


@media(max-width:767px) {

    .centerBannerText h2{
        font-size: 42px;
    }
    .navbar-collapse {
        background: var(--whiteColor);
        width: 100%;
        position: absolute;
        top: 85px;
        z-index: 999;
        left: 0;

    }
    .navbar .navbar-nav {
        height: 80vh;
        overflow-y: auto;
        
    }
    a.navbar-brand {
        flex: 0 0 35%;
        max-width: 35%;
    }

    .others {
        flex: 0 0 60%;
        max-width: 60%;
        gap: 5px !important;
        justify-content: flex-end;
    }

    .navbar .navbar-nav .nav-item:not(.dropdown) {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }

    .navbar .navbar-nav .nav-item {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar .navbar-nav .nav-item .dropdown-menu {
        position: static;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        border: none;
        background: var(--bgLightGray);
        display: none;

    }

    .navbar .navbar-nav .nav-item .dropdown-menu.show {
        display: block;
    }

    .searchIcon {
        font-size: 18px;
    }

    .navBtn {
        padding: 6px 12px;
        font-size: 13px;
    }

    .navbar-brand img {
        max-width: 130px;
    }

    .siteBtn {
        padding: 8px 24px;
        font-size: 14px;
    }
    .navBtn{
        padding: 6px 12px;
        font-size: 12px;
    }
    .centerItem {
        padding-left: 0;
    }

    .centerItem .content {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        max-width: 100%;
        display: block;
    }
    .sectionHeader{
        flex-direction: column;
        align-items: flex-start!important;
        gap:15px;
       
    }
    .sectionTitle{
        padding-left: 0;
    }
    .sectionHeader h2, .contactForm .sectionTitle h2{
        font-size: 30px;
    }
    .sectionTitle h2 br{
        display: none;
    }
    .centerItem .location, .sectionHeader span, .contactForm .sectionTitle span {
        top: 0;
        left: 0;
        position: relative;
        writing-mode: unset;
        display: block;
    }
    .fContent{
        max-width: 250px;
        padding:25px 50px 25px 25px;
    }
    .fContent h3{
        line-height: normal;
        font-size: 18px;
    }


    
    /* city center page css start */
    .centerSlide{
            min-height: 0!important;
            padding: 60px 0;
    }
    .centerBanner .slick-dots{
        bottom:15px;
        padding-left: 0;
    }
    .centerBanner .sectionHeader h2{
        font-size: 42px;
    }
    .centerBanner .sectionHeader p{
        font-size: 14px;
    }
    .contact-info-list.single{
        min-height: 0;
        margin-top: 30px;
        padding-left: 0;
    }
    .nearByImage{
        width: 100%;
    }
    .serviceListTabs .nav .nav-item .nav-link{
        font-size: 20px;
        padding: 20px 25px;
    }
    .servicesTabContent{
        padding: 25px;
    }
     /* city center page css End */
}