
@import url("cityPage.css");
@import url("centerPage.css");
@import url("override.css");
@import url("responsive.css");
/* * footer Section css */

.footerLogo{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
 }
 
 .infoList{
     position: relative;
     padding-left: 35px;
     display: flex;
     align-items: center;
     line-height: 30px;
     margin-bottom: 15px;
 }
 
 .infoList .infoIcon{
     font-size: 22px;
     color:#595959;
     position: absolute;
     left:0;
     top:0;
 }
 .infoList .infoText{
     color:#fff;
     margin-bottom: 0;
     font-size: 16px;
     transition: 0.3s;
     
 }
 .infoList .infoText:hover{
         color:var(--themeColor);
 }
 .footerLogo{
     font-size: 30px;
     margin-bottom: 30px;
 }
 .social h4{
     font-size: 18px;
     margin-bottom: 20px;
 }
 .socialLinks{
     padding-left: 0;
     display: flex;
     gap:15px;
 }
 .socialLinks li a{
     width: 40px;
     height: 40px;
     font-size: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     color:var(--whiteColor);
     text-align: center;
     border-radius: 6px;
     border:1px solid var(--whiteColor);
     transition:all 0.3s ease;
 }
 .socialLinks li a:hover{
     background: var(--whiteColor);
     color:var(--textColor);
 }
 .footerTitle {
     font-size: 20px;
     color:var(--themeColor);
 }
 .footerLinks li{
     margin-bottom: 5px;
 }
 .footerLinks li a{
 color:var(--whiteColor);
 font-size: 14px;
 opacity: 0.6;
 transition: var(--transition)
 }
 .footerLinks li a:hover{
     opacity: 1;
 }
 



