@font-face {
  font-family: "SegoeBold";
  font-weight: 700;
  src: url("../public/fonts/Segoe-UI-Bold.ttf");
}
:root {
 --textColor:#7c7772;
 --whiteColor: #ffffff;
 --blackColor:#000000;
 --themeColor:#ffd500;
 --bgLightGray: #f0f0f0;
 --transition:.6s;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}


p{
  color:var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
ul li{
  list-style-type: none;
  color:var(--textColor);
}
.bgImg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fixedHeader{
    padding-top: 85px;
}
.siteBtn{
  padding:10px 30px;
  background: var(--themeColor);
  color:var(--blackColor);
  transition: all 0.3s ease;
  font-weight: bold;
  border:1px solid var(--themeColor);
  font-size: 16px;
  display: inline-block;
}
.siteBtn:hover{
  background: var(--blackColor);
  color:#fff;
}
.siteBtnOutline{
  background: transparent;
  color:#fff;
}
.siteBtnBlack{
  background: var(--blackColor);
  color:var(--whiteColor);
  border-color:var(--blackColor)
}
.siteBtnBlack:hover{
  background: var(--themeColor);
  border-color: var(--themeColor);
  color:var(--blackColor);
}
.navBtn{
  padding:10px 20px;
}
.siteBtnOutline:hover{
  background: var(--themeColor);
  color:var(--blackColor);
}
.siteBtnLink{
  color: var(--themeColor);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: relative;
  transition: var(--transition);
}
.siteBtnLink:before{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background-color: var(--whiteColor);
  width: 0;
  height: 1px;
  transition: var(--transition);
  
}
.siteBtnLink:hover:before{
  width: 100%;
  background-color: var(--themeColor);
}

.sectionHeader{
  max-width: 100%;
  padding-left: 0;
  position: relative;
  margin-bottom: 50px;
}
.sectionTitle{
  max-width: 830px;
  padding-left: 45px;
}
.sectionHeader span{
  font-weight: 500;
  color: var(--themeColor);
  font-size: 15.7px;
  writing-mode: vertical-lr;
  position: absolute;
  left: 0;
  top: 8.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sectionHeader  h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
}
.py100{
  padding:100px 0;
}
.pt100{
  padding-top:100px;
}
.pb100{
  padding-bottom:100px;
}
.py80{
  padding:80px 0;
}
.bgLightGray{
  background: var(--bgLightGray);
}
.bgBlack{
  background: var(--blackColor);
}
.bgTheme{
  background: var(--themeColor);
}
