.showcase{
    position: relative;
    padding-top: 80px;
    z-index: 1;
  

}
.showcase>img{
    z-index: -1;
}
.bannerText{
    color:var(--whiteColor);
}
.bannerTitle{
    font-size: 60px;
    line-height: 64px;
    padding-bottom: 30px;
    font-weight: bold;
}

.bannerDesc{
    font-size: 18px;
    color:#fff;
    border-left:3px solid var(--themeColor);
    padding-left: 40px;
}
.bannerButtons{
    padding-top: 30px;
    display: flex;
    gap:20px;
}
.bottomBox{
    background-color: var(--blackColor);
    padding: 30px;
    max-width: 800px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottomText{
    color: var(--whiteColor);
    margin-bottom: 0;
    max-width:450px;
    width: 450px;
    word-break:keep-all
}
@media(max-width: 767px) {
    .bannerDesc {
        font-size: 16px;
        padding-left: 30px;
    }

    .bannerTitle {
        font-size: 36px;
        line-height: 42px;
    }

    .bottomBox {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
        position: static;
        margin-top: 20px;

    }

    .bottomText {
        width: auto;
        max-width: 100%;
    }
}