.featuredSlider {
    padding-left: 30px;
    padding-right: 30px;
}
.featuredBox .featureImg{
    margin-bottom:20px;
    position: relative;
}
.featuredBox .featureContent{
    background-color: var(--blackColor);
    padding: 25px 25px 25px 60px;
    max-width: 345px;
    position: absolute;
    left: 20px;
    right:20px;
    bottom: 80px;
    transition: .6s;
}
.featuredBox .featureContent h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}